.login-wrapper
        &>h3
          font-size:.5rem
          color:#1b3442;
          padding-left:.6rem
          font-weight:bold 
          line-height:.8rem;
          border-bottom:.02rem solid #cacaca
        .login-list
            &>ul
              margin:.2rem .5rem 0
              &>li
                margin-top:.7rem
                position relative
                &>label
                    display block
                    font-size:.3rem
                    color:#1b3442
                    font-weight:bold
                &>input
                    height:.8rem
                    padding-left:.1rem
                    font-size:.3rem
                    color:#1b3442
                    width:100%;
                    border-bottom:.02rem solid #0079de
                .short-input
                    width:3.5rem
                    margin-right:.4rem
                .login-code
                    display inline-block
                    width:2.2rem
                    float right
                    line-height:.8rem
                    background:#1b3442
                    &>img
                        width:100%;
                .bgColor
                    background:#ccc       
                .phone-login
                    display block;
                    font-size:.3rem
                    color:#1296db
                    position absolute
                    right:0;
                    bottom:-.7rem
                    line-height:.7rem
        .login-foot
            position absolute
            width:6.8rem
            left:50%;
            bottom 0;
            transform translateX(-50%)
            .login-btn
                display block
                width:100%;
                height:.8rem
                background:#1296db;
                line-height .8rem
                text-align center
                border-radius:.05rem
                font-size:.3rem
                color:#fff
            .login-other
                height:.8rem
                font-size:.3rem
                line-height:.8rem
                &>p
                    float left
                    color:#c5c5c5;
                    &>span
                       color:#1296db
                       cursor pointer
                &>a
                    display block
                    float right
                    color:#1296db