.identity-wrapper
        .identity-head
            border-bottom:.02rem solid #cacaca
            &>a
                display block
                width:.8rem
                line-height:.8rem
                text-align center
                .icon-fanhui
                    font-size:.5rem
            &>h1
                font-size:.54rem
                color:#1b3442
                padding-left:.6rem
                padding-bottom:.3rem
                font-weight:600
        .identity-content
            &>ul
                padding:0 .5rem
                &>li
                  margin-top:.6rem
                  &>h3
                    font-size:.3rem
                    color:#1b3442
                    margin-top:.15rem
                    font-weight:600
                  &>input
                    fonts-zie:.4rem
                    color:#1b3442
                    padding-left:.1rem
                    border-bottom:.04rem solid #0079de
                    height:.8rem
                    width:100%;
        .identity-next
            position absolute
            bottom:.4rem
            left:50%;
            transform translateX(-50%)
            width:6.8rem          
            height:.8rem
            background:#1296db
            border-radius:.05rem
            text-align center
            border:none
            line-height:.8rem
            font-size:.34rem
            color:#fff